*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
.card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.card h1{
    font-size: 25px;
    margin: 10px 0;
}
.card h5{
    font-size: 18px;
    color: red;
    margin: 20px;
}
.card button{
    background-color: rgb(42, 123, 243);
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.card .btn-remove{
    background-color: rgb(205, 205, 205);
    color: black;
}